h1{
    text-align: center;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
  }
  *{
    margin: 0;
    padding: 0;
  }
  input:hover{
    background-color: yellow;
  }
  #result{
    text-align: right;
    vertical-align: bottom;
    height: 80px;
    padding: 5%;
  }
  #backspace{
    font-size: 14px;
  }
  nav{
    position: absolute;
    top: 40px; left: 40px;
    background-color: red;
  }
  .menu_close {
    left: -120px;
  }
  .container{
    margin: auto;
    width: 1vh;
    max-width: 100vw;
    min-width: 300px;
    padding: 0%;
    border: 1% solid #f2f2f2;
    -webkit-box-shadow: 1% 1% 4% 0% rgba(176,176,176,1);
       -moz-box-shadow: 1% 1% 4% 0% rgba(176,176,176,1);
            box-shadow: 1% 1% 4% 0% rgba(176,176,176,1);
    background-color: #fff;
    background-color: #ececec;
    overflow: hidden;
  }
  .header{
    background-color: #0d2e38;
    padding: 2%;
    color: #fff;
    text-align: center;
  }
  .result{
    font-size: 24%;
    padding: 24% 5%;
    font-weight: 700;
    text-align: right;
    width: 96%;
    border: none;
    background-color: #F8F8F8;
  }
  .second-row{
    margin: 3px 1em 0 auto;
    display: inline-block;
    width: 100%;
  }
  .first-row,
  .third-row,
  .fourth-row,
  .conflict
  {
    display: inline-block;
    width: 100%;
  }
  .global{
   padding: 5%;
   font-weight: bold;
   font-size: 100%;
   border: none;
   border-radius: 0px;
   background-color: #F2F2F2;
   float: left;
   width: 23.5%;
   margin: 0 2px;
   /*border: 1px solid #000;*/
  }
  .global:nth-child(n+11) {
    display:none;
  }
  .conflict .left,
  .conflict .right{
    float: left;
    position: relative;
  }
  .left{
    width: 100%;
  }
  .right{
    width: 100%;
    height: 100%;
    margin: 4px 0;
  }
  .plus{
    height: 105px;
    width: 100%;
  }
  .white{
    background-color: white;
  }
  .yellow{
    background-color: rgb(199, 202, 21);
  }
  .grey{
    background-color: #F2F2F2;
  }
  .blue{
    background-color: rgb(141, 203, 211);
  }
  .white-text{
    color: #fff;
  }
  .top-margin{
    margin-top: 4px;
  }
  #teste{
    text-align: right;
    color: rgb(0, 0, 0);
    height: 15px;
    background-color: white;
  }